.breadcrumbs
	background-color: $bg
	padding: 6.5px 0
.breadcrumb-list
	&__item
		display: inline-block
		margin-right: 22px
		position: relative
		border-bottom: 1px solid transparent
		&:hover
			&::after
				color: $accent
		&::after
			position: absolute
			content: '>'
			right: -15px
		&:last-child
			margin-right: 0
			&::after
				content: ''