//чекбокс
.subscribe__checked,
.registration__checked
	input[type="checkbox"]:checked,
	input[type="checkbox"]:not(:checked)
		position: absolute
		left: 0
		width: 11px
		opacity: 0

	input[type="checkbox"]:checked + label,
	input[type="checkbox"]:not(:checked) + label
		display: inline-block
		position: relative
		padding-left: 19px
		cursor: pointer
		text-transform: none
		a
			text-decoration: underline
			&:hover
				text-decoration: none

	input[type="checkbox"]:checked + label::before,
	input[type="checkbox"]:not(:checked) + label::before
		content: ''
		position: absolute
		left: 0px
		top: 4px
		width: 11px
		height: 11px
		border: 1px solid $accent

	input[type="checkbox"]:checked + label::after,
	input[type="checkbox"]:not(:checked) + label::after
		content: ''
		position: absolute
		top: 3px
		left: 0
		width: 11px
		height: 11px
		background-image: url(../images/icons/checked.svg)
		background-position: center
		background-repeat: no-repeat

	input[type="checkbox"]:not(:checked) + label:after,
		opacity: 0
	input[type="checkbox"]:checked + label:after,
		opacity: 1

input, button
	border: none
	text-transform: uppercase
	width: 100%

input
	padding: 8px 16px 16px
	&::placeholder
		color: $accent

button
	background-color: $accent
	height: 40px
	padding: 0
	padding-bottom: 2px
	color: $white
	transition: background 0.2s ease
	font-weight: 300
	&:hover
		background-color: $textcolor

input[type=email]
	border: none
	border-bottom: 1px solid $accent
	&:hover
		border-bottom: 1px solid $textcolor

select
	outline: none
	border: 1px solid $accent
	width: 100%
	height: 40px
	line-height: 40px
	color: $accent
	text-transform: uppercase
	padding-left: 10px
	padding-right: 16px
	padding-bottom: 1px
	border-radius: 0

.catalog-filter-color,
.products__color-list,
.product__colors,
.recommended__colors,
.search__colors
	position: relative
	input[type="checkbox"]:checked,
	input[type="checkbox"]:not(:checked)
		position: absolute
		z-index: -1
		opacity: 0
	input[type="checkbox"]:checked+label,
	input[type="checkbox"]:not(:checked)+label
		position: relative
		cursor: pointer
		display: inline-block
		width: 32px
		height: 12px
		border-radius: 4px
		margin-right: 8px
	input[type="checkbox"]:checked+label::before,
	input[type="checkbox"]:not(:checked)+label::before
		content: ''
		position: absolute
		top: 0
		display: block
		border-radius: 4px
		width: 100%
		height: 100%
		border: 1px solid transparent
	input[type="checkbox"]:checked+label::after,
	input[type="checkbox"]:not(:checked)+label::after
		content: ''
		position: absolute
		top: 1px
		bottom: 1px
		left: 1px
		right: 1px
		display: block
		border-radius: 4px
		width: 30px
		height: 10px
		border: 1px solid transparent
	input[type="checkbox"]:checked+label::before
		border: 1px solid #877B71
	input[type="checkbox"]:checked+label::after
		border: 1px solid #fff

.products__color-list,
.search__colors
	input[type="checkbox"]:checked+label,
	input[type="checkbox"]:not(:checked)+label
		width: 16px
		margin-right: 4px
	input[type="checkbox"]:checked+label::after,
	input[type="checkbox"]:not(:checked)+label::after
		width: 14px
		height: 10px

input
	border: 1px solid $accent
	padding: 10px 16px
	color: $accent
	background-color: transparent

.select2-container--default .select2-selection--single
	height: 40px
	border-radius: 0
	border: 1px solid $accent

.select2-container--default .select2-selection--single .select2-selection__rendered
	line-height: 38px
	padding-left: 16px
	padding-right: 16px

.select2-container--default .select2-selection--single .select2-selection__arrow
	height: 38px
	right: 10px

.select2-container--default .select2-results__option--selected
	background-color: transparent

.select2-results__option
	padding: 11px 16px

.select2-dropdown
	border-radius: 0
	border: 1px solid $accent

.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple, .select2-container--default.select2-container--open.select2-container--below .select2-selection--single
	border-bottom: none

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable
	background-color: $accent

.select2-container
	width: 100%!important