.header
	display: flex
	align-items: center
	position: relative
	// z-index: 99999

.nav-item
	display: inline-flex
	align-items: center
	height: 32px
	color: $textcolor
	cursor: pointer
	position: relative
	&::after
		content: ''
		position: absolute
		right: 0
		bottom: 7px
		background-color: $accent
		height: 1px
		display: block
		width: 0%
		transition: width .2s ease-in-out
	&:hover::after
		width: 100%
		right: auto
		left: 0
	&:hover
		border-bottom: none
	&--logo
		padding-top: 2px
		&::after
			background-color: transparent
		&:hover
			border-bottom: none

.mobile-menu
	&__box-title
		color: $accent
		background: url(../images/icons/down.svg) right 16px center no-repeat
		&.show
			margin-bottom: 16px
	&__box-list
		display: flex
		flex-direction: column
		height: 0
		visibility: hidden
		&.show
			height: auto
			visibility: visible
		a
			display: block
	&__box
		display: flex
		flex-direction: column
		padding-top: 16px
		padding-bottom: 16px
		border-bottom: 1px solid $bg
		&:last-child
			border-bottom: none
		a,
		div
			color: $accent
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0
		&--contact
			a
				color: $textcolor