.order
	padding: 16px 0 0 0
	&__title
		border-bottom: 1px solid $bg
		padding-bottom: 24px
		margin-top: 24px
		margin-bottom: 24px
	&__button
		background-color: $accent
		padding: 11px 0
		text-align: center
		cursor: pointer
		color: $white
		transition: background 0.2s ease
		&:hover
			background-color: $textcolor
	&__radio
		position: relative
		margin: 0 16px
		padding-left: 28px
		margin-bottom: 36px
		span::before
			content: ''
			position: absolute
			top: 1px
			left: 0
			width: 16px
			height: 16px
			border-radius: 50%
			border: 1px solid $accent
		span::after
			content: ''
			position: absolute
			top: 3px
			left: 2px
			border-radius: 50%
			width: 12px
			height: 12px
		input:checked+span::after
			background-color: $accent
		input
			position: absolute
			z-index: -1
			opacity: 0
	&__box
		display: flex
		justify-content: space-between
		margin-bottom: 16px
		@include media-breakpoint-down(sm)
			flex-wrap: wrap
		input
			width: 50%
			margin-right: 16px
			margin-bottom: 0
			&:last-child
				margin-right: 0
			@include media-breakpoint-down(sm)
				width: 100%
				margin-right: 0
				margin-bottom: 16px
		&-inner
			width: calc(50% - 8px)
			@include media-breakpoint-down(sm)
				width: 100%
		&--mb0
			@include media-breakpoint-down(sm)
				margin-bottom: 0
	&__personal
		.order__title
			margin-top: 0
	&__delivery
		&-pickup,
		&-delivery
			margin-bottom: 24px
			display: none
			span
				display: block
				margin-bottom: 16px
			p
				margin-bottom: 0
				color: rgba($textcolor, 0.50)
			select
				margin-bottom: 24px
			textarea
				margin-bottom: 24px
		&-info-text
			display: none
	&__visibility
		display: none
		&.show
			display: block
	&__demonstrate
		display: none
		padding-bottom: 24px
		border-bottom: 1px solid $bg
		&.show
			display: block
	&__demonstrate-text
		margin-bottom: 8px
		text-transform: none
		p
			display: block
			margin-bottom: 0
	&__accent
		padding: 16px
		background-color: $bg
		color: $textcolor
		text-transform: none
		margin-bottom: 24px
	&__promocode
		margin-top: 24px
		margin-bottom: 24px
		&-title
			margin-bottom: 16px

.order-thanks
	padding: 82px 0 0 0
	p
		margin-bottom: 0
	&__title
		margin-bottom: 48px
		font-weight: 300
	&__subtitle
		margin-bottom: 16px
	&__item
		margin-bottom: 32px
		padding-bottom: 32px
		border-bottom: 1px solid $bg
		&:last-child
			border-bottom: none
			padding-bottom: 0
			margin-bottom: 0
	&__box
		margin-bottom: 32px
		p
			margin-bottom: 8px

.order-info
	padding: 48px 0
	@include media-breakpoint-down(md)
		padding: 16px 0
	&__wrapper
		display: none
		margin-top: 32px
		@include media-breakpoint-up(lg)
			display: block
		@include media-breakpoint-down(md)
			padding-bottom: 32px
			border-bottom: 1px solid $textcolor
	&__title
		display: flex
		justify-content: space-between
		padding-bottom: 16px
		border-bottom: 1px solid $textcolor
		color: $textcolor
		@include media-breakpoint-down(md)
			padding-bottom: 32px
	&__button
		display: none
		@include media-breakpoint-down(md)
			display: block
		&-show
		&-close
			display: none
	&__total
		display: flex
		justify-content: space-between
		color: $textcolor
		margin-bottom: 8px
	&__dely
		color: $accent
	&__list
		margin-top: 32px
	&__list-item
		padding-top: 24px
		margin-bottom: 24px
		border-top: 1px solid $bg
		&:last-child
			margin-bottom: 0
	&__list-title
		display: flex
		justify-content: space-between
		margin-bottom: 24px
	&__list-box
		display: flex
	&__list-image
		margin-right: 24px
		width: 96px
		height: 120px
	&__list-art
		text-transform: none
		color: $accent
		margin-bottom: 12px
	&__list-colors
		margin-bottom: 12px
	&__list-color
		margin-top: 8px
		width: 32px
		height: 12px
		border-radius: 4px
	&__list-custom
		margin-bottom: 12px
	&__list-custom-text
		margin-top: 4px
		color: $accent
	&__list-cover-text
		color: $accent
		margin-top: 4px

.back-to-shopping
	display: inline-block
	margin: 7px 0

.row-revers
	@include media-breakpoint-down(md)
		flex-direction: column-reverse

.order-title
	font-weight: 300
	color: $textcolor
	margin-bottom: 16px
	&--between
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&--mt
		margin-top: 24px
	span
		margin-right: 16px

.order-button
	display: flex
	align-items: center
	justify-content: center
	height: 40px
	cursor: pointer
	color: $white
	background-color: $accent
	transition: background 0.2s ease
	font-weight: 300
	border: none
	&:hover
		border-bottom: none
		background-color: $textcolor
		color: $white
	&--top16
		margin-top: 16px

.order-line
	margin: 24px 0
	height: 1px
	background-color: $bg

.auth-facebook
	border: 1px solid $accent
	display: flex
	align-items: center
	justify-content: center
	height: 40px
	transition: all 0.2s ease
	&:hover
		background-color: $textcolor
		color: $white
		border: none
	svg
		margin-right: 12px

.reset-password
	padding-top: 82px
	&__check
		display: none