.content
	padding: 82px 0
	h1
		font-size: 22px
		font-weight: 300
		margin-bottom: 48px
	h2, h3, h4
		padding-bottom: 16px
		border-bottom: 1px solid $bg
		margin-bottom: 16px
		font-weight: 300
	h2
		font-size: 12px